<!DOCTYPE html>
<html>
<head>
  <title>Feed App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    var timeout_time = 5;
    var time_remaining = 0;

    setInterval(function(){
        time_remaining = localStorage.getItem('timeout_time');
        console.log("time_remaining = ", time_remaining);
        if(time_remaining > 1 || time_remaining != null){
            localStorage.setItem('timeout_time', time_remaining - 1000);
        }
    }, 1000);

    function SetTimerForAppSession() {
        onInactive(logout, timeout_time * 1000);
    }

    function logout() {
        console.log('Logout');

        if(localStorage.getItem('timeout_time') <= 0)
        {
            window.location = "http://localhost:3000/login";
        }
        else
        {
            console.log("Logout.SetTimerForAppSession");
            SetTimerForAppSession();
        }
    }

    function onInactive(callback, millisecond) {
        var wait = setTimeout(callback, millisecond);

        document.onmousemove =
        document.onmousedown =
        document.onmouseup =
        document.onmousewheel =
        document.DOMMouseScroll =
        document.onkeydown =
        document.onkeyup =
        document.ontouchstart =
        document.ontouchmove =
        document.onscroll =
        document.focus = function () {

            // clear
            clearTimeout(wait);
            localStorage.removeItem('timeout_time');

            // reset
            wait = setTimeout(callback, millisecond);
            localStorage.setItem('timeout_time', millisecond)
        };
    }
</script>
</head>
<body onload="SetTimerForAppSession();">